html{
	/* This image will be displayed fullscreen */
	background:url('../img/background3.jpg') no-repeat center center;
	min-height:100%;
    background-repeat: no-repeat;
	background-attachment: fixed;
	/*background-size: 100vw auto;*/
	background-size: cover;
}

body{
	/* Workaround for some mobile browsers */
	min-height:100%;

	background-color: rgba(255, 255, 255, 0) !important;
}

.floating-contact {
	float: top;
	position: fixed;
	top: 20px;
    right: 20px;
}

.floating-contact-icon:hover {
	color: #4099FF !important;
}

.fa {
	color: Azure;
	font-size: 36px !important;
}

nav ul li:hover {
	background-color: Azure;
	color: black;
	border-radius: 5px;
}

.profile-picture {
	display: inline-block;
    border-radius: 50%;
    border: 4px solid #4cb7e8;

    -webkit-box-shadow: 10px 10px 88px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 88px -15px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 88px -15px rgba(0,0,0,0.75);
}

.fullscreen-wrapper {
	min-height: 100vh;

	padding-top: 75px;

  	display: flex;
  	justify-content: center;
}

header{
	max-width: 50vw;
	text-align: center;
	color: Azure;
}

#bio {
	padding: 25px 50px;
}

footer {
	text-align: center;
	color: rgba(255, 255, 255, 0.32);
}


.content {

	display: inline-block;

	color: Azure !important;

  	margin: 25px;
  	padding: 25px;

	background-color: rgba(0, 0, 0, 0.67);

	border-radius: 5px;

    -webkit-box-shadow: 10px 10px 88px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 88px -15px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 88px -15px rgba(0,0,0,0.75);

	min-width: 40vw;
}

#contact ul {
	list-style: none;
	padding: 0;
	margin: 25px 0;
}

#contact ul li {
	padding: 5px 0;
	/*display: flex;
	align-items: center;*/
	color: Azure !important;
}

#contact ul li i {
	margin-right: 10px;
}

#contact ul li a {
	padding-left: 10px !important;
	color: Azure !important;
}