header {
	background-color: #4f5b66;
}

header div {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
}

header div img {
	width: 75%;
	height: auto;
}

/*
#343d46	
#4f5b66	
#65737e	
#a7adba	
#c0c5ce
*/